@import '../../atoms/variables.styl'

.headline
    display: block
    width: 100%
    position: fixed
    top: 0
    padding: padding-vertical padding-horizontal
    text-align: center
    background-color: piller-grey
    z-index: 1

    h1, h2, h3, h4, h5, h6
        margin: 0
        padding: 0
        background-color: inherit

    h1
        font-size: font-size-large

    h2
        font-size: font-size-medium

    h3
        font-size: font-size-small

.icon
    height: height-large
    margin: 0
    color: piller-white
    float: right

