@import '../../variables/variables.styl'
@import '../../app/app.styl'

.view-switcher
  text-align right
  margin-bottom $navigation-padding

  button
    border 0
    padding 0
    margin-left $navigation-padding

    & > span
      color $primary-crystal
      display inline-block
      line-height 2.4em
      margin-right "calc(%s / 2)" % $navigation-padding

    &:hover

      & > span
        color $dark-crystal

.enermon-card
  background-color $color-white
  border 1px solid $primary-crystal
  border-radius $default-border-radius
  color $dark-crystal
  display block
  margin-bottom $navigation-padding

  .map-container
    border-bottom 1px solid $primary-crystal
    height 190px

  .map-info-container
    padding $navigation-padding

    h2, h3
      margin 0
      padding 0
      font-size 1.4em
      margin-bottom $navigation-padding

    button
      margin-right $navigation-padding

  &.list-view
    clearfix()

    .map-container
      border-bottom 0
      border-right 1px solid $primary-crystal
      float left
      margin-right $navigation-padding
      width 200px
