@import '../../variables/variables.styl'
@import '../../app/app.styl'

input[type="text"],
input[type="password"]
  background-color $bg-color-default
  border-radius $default-border-radius
  border 1px solid $primary-crystal
  color $primary-crystal
  height $input-height
  font-size $input-font-size
  margin-bottom $main-line-height
  padding 0 $input-horizontal-padding
  width 100%

  &::-webkit-input-placeholder
      color $primary-crystal

  &::-moz-placeholder
      color $primary-crystal

  &:-ms-input-placeholder
      color $primary-crystal

  input:-moz-placeholder
      color $primary-crystal

  &:focus
    outline 0

  &.disabled
    background-color rgba($primary-red, .15)
    border 1px solid rgba($primary-red, .0)

    &::-webkit-input-placeholder
        color $primary-white

    &::-moz-placeholder
        color $primary-white

    &:-ms-input-placeholder
        color $primary-white

    input:-moz-placeholder
        color $primary-white

  &.error
    background-color transparent
    border 1px solid $primary-red
    color $primary-red

    &::-webkit-input-placeholder
        color $primary-red

    &::-moz-placeholder
        color $primary-red

    &:-ms-input-placeholder
        color $primary-red

    input:-moz-placeholder
        color $primary-red
