/* COLORS */
$bg-color-default = #232A33
$primary-red = #FA4949
$disabled-gray = #EDEDED
$primary-crystal = #7894AF
$dark-crystal = #4B5C6C
$primary-white = #FFFFFF
$font-color-active = #CCCCCE
$primary-green = #02B653

$disabled-color = #EDEDED

/* MASTER DETAIL PADDING */
$master-detail-padding = 20px

/* FONT-SIZE */
$main-font-size = 14px
$main-line-height = 20px

/* RADIEN */
$default-border-radius = 3px

/* INPUTS */
$input-font-size = $main-font-size
$input-horizontal-padding = 6px
$input-font-size = $main-font-size
$input-height = 36px

/* BUTTONS */
$button-font-size = $main-font-size
$button-font-color = #4A4A4A
$button-height = 36px

/* BURGER-ICON */
$burger-bar-height = 3px
$burger-button-square = 24px

/* SWITCHER */
$chart-switcher-square = 20px
$chart-switcher-width = 40px

/* ICONS */
$icon-size = 24px

/* BULLETS */
$bullet-square = 10px

/* NAVIGATION */
$navigation-height = 120px


/* ----------------------------------------------------------------------------- */
/* UN-REFACTORED */

$navigation-padding = 16px
$screen-sm-min = 750px
$screen-md-min = 970px
$screen-lg-min = 1170px
$main-menu-width = 200px
$news-msg-square = 25px
$logout-button-width = 70px
