/* COLORS */
$bg-color-default = #001E26
$primary-red = #FA4949
$primary-yellow = #F5F500
$disabled-gray = #EDEDED
$primary-crystal = #7894AF
$dark-crystal = #4B5C6C
$primary-white = #FFFFFF
$font-color-active = #CCCCCE
$primary-green = #02B653
$font-color = #333333
$scale-bg-color = #004254
$scale-active-color = #00c8ff
$chart-color = rgba(255,255,255,.3)

$font-color-text = #A9A9A9
$font-color-value = darken($font-color-text, 30%)

/* MASTER DETAIL PADDING */
$master-detail-padding = 20px
$master-card-width = 250px
$master-card-height = 160px

/* FONT-SIZE */
$main-font-size = 14px
$main-line-height = 20px

/* RADIEN */
$default-border-radius = 3px

/* INPUTS */
$input-font-size = 18px
$input-horizontal-padding = 6px
$input-height = 44px

/* BUTTONS */
$button-font-size = 18px
$button-font-color = white
$button-height = 44px

/* BURGER-ICON */
$burger-bar-height = 3px
$burger-button-square = 24px

/* SWITCHER */
$chart-switcher-square = 20px
$chart-switcher-width = 40px

/* ICONS */
$icon-size = 24px

/* BULLETS */
$bullet-square = 10px

/* NAVIGATION */
$navigation-height = 60px


/* ----------------------------------------------------------------------------- */
/* UN-REFACTORED */

$navigation-padding = 16px
$screen-sm-min = 750px
$screen-md-min = 970px
$screen-lg-min = 1170px
$main-menu-width = 200px
$news-msg-square = 25px
$logout-button-width = 70px
