$primary-color = green
$color-white = #fff
$color-green = #02B653
$color-red = #E32125
$color-orange = #FFB100
$color-grey = #EAEAEA

$bg-color-default = #232A33
$primary-red = #FA4949
$primary-crystal = #7894AF
$dark-crystal = #4B5C6C
$primary-white = #FFFFFF

$line-height = 2rem

$default-border-radius = 3px

$input-font-size = 14px
$input-padding = 12px

$button-font-size = 14px
$button-font-color = #4A4A4A
$button-height = 36px

$navigation-padding = 16px

$burger-bar-height = 3px
$burger-button-square = 24px

$screen-sm-min = 750px
$screen-md-min = 970px
$screen-lg-min = 1170px

$main-menu-width = 200px

$news-msg-square = 25px
