@import '../../variables/variables.styl'

.map-wrapper
  background-color $primary-crystal
  height 200px
  width 100%

  .map
    background-color $primary-red !important
    height 200px
    width 100%